html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(243, 244, 245);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: 0px;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.main {
  margin-top: 50px;
}

.select {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
